@import '../share.scss';

.month {
  .day-names {
    display: flex;

    .day-name {
      border-bottom: $border;
      border-right: $border;
      border-top: $border;
      display: inline-block;
      font-size: 80%;
      font-weight: bold;
      padding: $day-padding;
      text-align: center;
      width: $day-width;

      &:first-of-type {
        border-left: $border;
      }
    }
  }

  .backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    .modal {
      background-color: white;
      border: solid black 3px;
      border-radius: $border-radius;
      padding: 10px;

      // Center in viewport.
      position: fixed;
      left: 50vw;
      top: 50vh;
      transform: translate(-50%, -50%);

      button {
        margin-right: 10px;
        margin-top: 10px;
      }

      label {
        margin-right: 10px;
      }
    }
  }

  .week {
    display: flex;
  }
}