@import '../share.scss';

.calendar {
  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    margin-bottom: 10px;
    text-align: center;

    button {
      font-weight: bold;
      margin: 0 5px;
    }
  }

  .selected {
    background-color: yellow;
  }

  .year {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    header {
      button {
        margin: 2px;
      }
      /*
      button:nth-of-type(4n) {
        outline: solid blue 1px;
      }
      */
      button:nth-of-type(4n):after {
        content: '\a';
        white-space: pre;
      }
    }
  }
}
