@import '../share.scss';

.day {
  border-bottom: $border;
  border-right: $border;
  //box-sizing: border-box;
  display: inline-block;
  min-height: 50px;
  padding: $day-padding;
  width: $day-width;

  &.blank {
    border-color: transparent;
  }

  &.left {
    border-left: $border;
  }

  &.top {
    border-top: $border;
  }

  .add {
    color: green;
    font-weight: bold;
    transform: rotate(45deg); // X rotated
    // &#x2795; is a heavy plus, but color doesn't affect it,
    // so using heavy X instead and rotating it.
  }

  button {
    border: none;
    display: inline-block;
    font-size: 14px;
    padding: 0 4px 2px 0;
  }

  .delete {
    color: red;
  }

  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;

    .number {
      color: blue;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      padding-top: 2px;
    }
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
  }
}